.text_color{
    color: #003366;
}
.default{
    background-color: #003366;
    color: #e0e0e0;
}
.Disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}